.grid-container {
  margin:0;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Three columns, equally sized */
  grid-template-rows: repeat(3, 130px); /* Three rows, 150px each (adjust as needed) */
  gap: 40px;
  margin-left: 30px; /* Spacing between boxes and rows */
}

.box {
  background-color: #1a1a1a; /*#571448;*/
  padding: 20px;
  border-radius: 5px;
  display: flex; /* For centering content vertically */
  align-items: center;
  justify-content: center;
  border: 2px solid #C92C92;
  display:flex;
  flex-direction: column; /* Default border color */
}

.box:hover {
 /* background-color:#132d50; */
  border-color: blue; /* Hover border color */
}

.header {
  display: flex;
   /* Enables flexible layout for aligning elements inside */
  justify-content: center; /* Aligns content horizontally within the element */
  margin: 0 auto;
  color:rgb(206, 190, 169);
  gap:15px;
  margin-bottom: 30px; /* Adds equal margin on both sides for centering */
}



.text{
  color:rgb(206, 190, 169);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
